@mixin font ($weigth, $size, $height, $color) {
    font: {
        family: "Nunito";
        weight: $weigth;
        size: $size;
    }
    line-height: $height;
    color: $color;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
.header {
    &__header {
        @include flex-row;
    }
    &__logo {
        @include flex-row;
        margin: 24px 115px 0 80px;
    }
    &__logo-image {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
    &__logo-title {
        @include font(bold, 24px, 33px, #3E3F43);
        margin: 0;
        padding: 0;
    }
    &__navbar {
        @include flex-row;
        margin: 27px 0 0 0;
    }
    &__link {
        list-style: none;
        @include font(normal, 16px, 22px, rgba(34, 34, 34, 0.75));
        margin: 0 48px 0 0;
        padding: 0;
        cursor: pointer;
    }
    &__link:first-child {
        @include font(bold, 16px, 22px, #DAA520);
    }
    &__container {
        @include flex-row;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
    }
    &__title {
        @include font(bold, 72px, 98px, #313235);
        margin: 0 0 16px 102px;
        padding: 0;
    }
    &__subtitle {
        @include font(400, 36px, 49px, #3E3F43);
        margin: 161px 0 16px 102px;
        padding: 0;
        width: 504px;
        // сделал, чтобы текст растянулся
    }
    &__span {
        font-weight: 700;
    }
    &__button {
        @include font(bold, 16px, 22px, #fff);
        background-color: #DAA520;
        width: 175px;
        height: 50px;
        border: none;
        border-radius: 4px;
        margin: 0 0 0 102px;
        cursor: pointer;
    }
    &__image {
        width: 568px;
        height: 577px;
        margin: 116px 0 0 0;
    }
    &__background-image {
        background-image: url('../images/HeaderBackgroundImage.png');
        width: 370px;
        height: 800px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    display: flex;
    flex-direction: column;
}