@mixin font ($weigth, $size, $height, $color) {
  font: {
      family: "Nunito";
      weight: $weigth;
      size: $size;
  }
  line-height: $height;
  color: $color;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

.how-it-works {
  &__container {
    @include flex-row;
    margin: 0 auto;
  }
  &__subtitle {
    @include font(700, 36px, 49px, #3E3F43);
    padding: 0;
    margin: 145px 84px 88px 100px;
  }
  &__title {
    @include font(800, 72px, 98px, rgba(34, 34, 34, 0.1));
    padding: 0;
    margin: 120px 0 0 64px;
  }
  &__card-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
  }
  &__card {
    width: 238px;
    height: 177px;
    position: relative;
  }
  &__image {
    margin: 0;
    padding: 11.61px 59px 24px 59px;
  }
  &__card-title {
    @include font(700, 24px, 33px, #000);
    padding: 0;
    margin: 0;
    text-align: center;
  }
  &__background-image {
    position: absolute;
    width: 58px;
    height: 131px;
    top: 12px;
    left: 14px;
    z-index: -1;
  }
  &__button {
    width: 212px;
    height: 50px;
    background-color: #DAA520;
    border-radius: 4px;
    @include font(700, 16px, 22px, #fff);
    padding: 0;
    margin: 78px auto 0 auto;
    border: none;
    cursor: pointer;
  }
  display: flex;
  flex-direction: column;
}