@font-face {
    font-family: "Nunito";
    src: url("./Nunito-Regular.ttf") format('woff'),
    url('./Nunito-Regular.ttf') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito-ExtraBold.ttf') format('woff'),
    url('./Nunito-ExtraBold.ttf') format('woff2');
    font-weight: bold;
}